@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sriracha&display=swap');
@import "font-awesome";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

hr {
    color: #000;
}


.modal {
    color: blue;
}

.navbar {
    font-family: "Sriracha", cursive;
    font-weight: 200;
    box-shadow: 2px 4px 6px #5CDB95;
}

.navbar-dark {
    background-color: #000;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-dark a.navbar-brand {
    font-family: "Sriracha", cursive;
    font-weight: 100;
    font-size: 250%;
    color: white;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    color: white;
}

.hero {
    background: image_url('magic.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
    box-shadow: 2px 4px 6px #5CDB95;
}

.frosty {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 75px;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
    margin: 0;
}

.btn {
    border-radius: 0;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.booyah-box h2,
.booyah-box h1 {
    margin: 10px;
}

.booyah-box,
.course-box {
    /*-webkit-box-shadow: 1px 1px 3px 0 #8EE4AF;
-moz-box-shadow: 1px 1px 3px 0 #8EE4AF;
box-shadow: 1px 1px 3px 0 #8EE4AF;*/
    background-color: rgba(36, 32, 33, 0.9);
    border: 1px solid #ccc;
    /*border-color: #379683 #8EE4AF #8EE4AF #379683;*/
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

.course-box {
    height: 400px;
    margin-right: 25px;
    color: #fff;
}

.course-font {
    font-family: "Sriracha", cursive;
    color: #fff;
}

.help-block {
    color: #ff3333;
    background-color: #FFEEEE;
    border-radius: 3px;
    padding: 2px 8px 2px 8px;
    margin: 10px;
}

.clr {
    clear: both;
}

.lesson {
    background-color: black;
    margin-top: 10px;
    height: 130px;
}

.lesson a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.lesson a b {
    font-weight: 100;
    font-size: 25px;
}

.lessons li {
    background: black;
    color: white;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    padding: 8px;
    font-size: 15px;
}

.lessons li b {
    font-size: 25px;
    font-weight: 100;
}

.lessons li p {
    margin: 0;
}

.section {
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 20px;
}

.section-li {
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: none;
}

ul .header {
    font-size: 25px;
}

ul .header .fa {
    font-size: 20px;
}

menu-icon {
    margin-bottom: 10px;
}